header {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    height: 270px;
    background-color: #fff;
    align-items: center;

    @include sp {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .site-title {

        @include sp {
            margin-top: 20px;
            line-height: 1px;
        }
    }

    nav {

        ul {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            li {
                font-size: 1.5rem;
                margin-left: 30px;
            }
        }


    }
}